.product__container {
    padding: 0 0 15px;
    margin: 0 0 15px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
}
app-product {
    width: 33.33%;
    transition: all 0.3s ease-in-out;
}
