.cart__container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin: 0 0 15px;
}

.cart__payment {
    flex-shrink: 1;
}

.cart__cost {
    display: block;
    font-size: 25px;
}